<h1 class="mb-6 text-3xl text-[#989898]">New team</h1>

<%= form_with model: @team, url: dashboard_teams_path, class: "space-y-4" do |form| %>
    <%= render 'form', team: @team, form: form %>
<% end %>