/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @font-face {
    font-family: "DejaVuSans";
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("/assets/DejaVuSans.ttf");
}

@font-face {
    font-family: "DejaVuSansBold";
    font-style: normal;
    font-weight: 600;
    font-display: block;
    src: url("/assets/DejaVuSans-Bold.ttf");
}

body {
    font-family: "DejaVuSans";
}

.font-bold {
    font-family: "DejaVuSansBold";
}

#entry_start_time_1i,
#entry_start_time_2i,
#entry_start_time_3i,
#entry_start_time_4i,
#entry_start_time_5i,
#entry_end_time_1i,
#entry_end_time_2i,
#entry_end_time_3i,
#entry_end_time_4i,
#entry_end_time_5i {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
}